/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(185, 75%, 39%);
$c_bg_card: hsl(0, 0%, 95%);

$c_txt_main: hsl(229, 23%, 23%);
$c_txt_secondary: hsl(227, 10%, 56%);

$c_bar: hsl(0, 0%, 83%);